/.idea
.DS_Store
/temp
code_dev.ipynb
*.pyc
projects/cddd_setup/default_model.zip
/vantami.egg-info
files/smina.static
/dev
vantami/files/ChemBERTa-model.joblib
vantami/files/ChemBERTa-tokenizer.joblib
/.cursor
